services:
  - type: web
    name: portfolio-backend
    env: node
    buildCommand: cd portfolio-fullstack/backend && npm install && npm run build
    startCommand: cd portfolio-fullstack/backend && npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000